/*
html {
  min-height: 100%;
  position: relative;
	}

body {
	margin-bottom: 60px;
	/*
	background-color: white;
	margin: 0 auto;
	padding-bottom: 1rem;
	}/*

h1, h2 {
	font-size: 200%;
	text-align: center;
	}
	
p {
	text-align: left;
	font-size: 150%;
	word-wrap: break-word;
	}


div {
	margin: auto;
	}

footer {
	width: 100%;
	height: 3%;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: left;
	background-color: #54585e;
	}

footer p {
	font-size: 100%;
	display: inline;
	}
	
a {
	font-family: Microsoft Jhenghei light, Century Gothic, Arial, sans;
	text-decoration: none;
	color: blue;
	}
	*/
.right {
	float: right;
	}
	
.left {
	float: left;
	}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 15%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

.dropdownn:hover .dropdown-content {
    display: block;
	}
	
.main {
	margin: auto;
	width: 60%;
	}
	
.success {
	font-size: 100%;
	color: green;
	}

.error {
	color : red;
	font-size: 100%;
	}
	
.weatherBlock {
	display: block;
	text-align: center;
	border: 2px solid black;
	}
	
.weatherBlockLog {
	display: inline-block;
	text-align: center;
	border: 2px solid black;
	}
	
.weatherBlock p {
	text-align: center;
	}
	
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
	}
	
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


#navbar {
	width: 100%;
	height: 3.3%;
	position: fixed;
	top: 0;
	z-index: 100;
	}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #54585e;
	}

#navbar a {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0.55rem 1.3rem;
	}
	
#navbar #account {
	padding: 0.7rem 2.5rem;
	}	

#navbar a:hover, #navbar .dropdownn:hover .dropbutton {
	background-color: gray;
	}

#navbar .dropdown-content a {
    color: black;
    display: block;
    text-align: left;
	}
	
	
#navbar .dropdown-content a:hover {
	color: white;
	}	
	
	
#headerText {
	font-family: Arial;
	text-align: center;
	font-size: 350%;
	background-color: #4286f4;
	border-radius: 7%;
	background: linear-gradient( to bottom, #63a6d3, #3d94ce );
	margin-top: 3.5%;
	}
/*

#buttons {
	height: 35%;
	width: 50%;
	max-width: 400px;
	margin: auto;
	}


#auth {
	margin: auto;
	font-size: 120%;
	width: 35%;
	box-sizing: border-box;
	}


#auth input[type=text] {
	background: url( "Icons/user.jpg" );
	background-size: 5%;
	background-repeat: no-repeat;
	width: 55%;
	float: right;
	padding-left: 4%;
	}
	

#auth input[type=password] {
	background: url( "Icons/password.png" );
	background-size: 4.5%;
	background-repeat: no-repeat;
	width: 55%;
	float: right;
	padding-left: 4%;
	}


#auth label {
	float: left;
	}


#auth input[type=submit], input[type=submit], button {
	margin: 2% 50%;
	clear: both;
	border-radius: 10%;
	background: linear-gradient( to bottom, #63a6d3, #3d94ce );
	}
	
#city {
	display: block;
	margin: auto;
	}
	
	
/***************************************************************
MOBILE
***************************************************************/
/*

@media all and ( max-width: 800px ), all and ( max-height: 800px ){

	h1, h2 {
		font-size: 200%;
		text-align: center;
		}


	p {
		font-size: 180%;
		text-align: left;
		}	
	
	
	a{
		font-size: 200%;
		}
		
	
	td, th, td button {
		font-size: 200%;
		}
	
	
	.main {
		margin: auto;
		width: 80%;
		}
	
	
	.left, .right {
		float: none;
		}
	
	.weatherBlockLog {
		display: block;
		text-align: center;
		border: 2px solid black;
		}
	
	.weatherBlockLog p{
		text-align: center;
		}
		
	
	#navbar{
		position: relative;
		}
	
	
	#navbar ul {
		display: block;
	}


	#navbar a {
		font-size: 200%;
		word-wrap: break-word;
		width: 100%;
		text-align: center;
		padding: 2.5rem;
	}
	
	
	#navbar #account {
		padding: 2.5rem;
		}

	#home {
		margin: auto;
		width: 95%;
		}


	#auth {
		margin: auto;
		font-size: 150%;
		width: 80%;
		}
		
		
	#auth p{
		text-align: center;
	}
		
	#auth input[type=text], #auth input[type=password] {
		margin: auto;
		width: 65%;
		display: block;
		float: none;
		font-size: 105%;
		}
		
		
	#auth label {
		text-align: center;
		display: block;
		float: none;
		padding-bottom: 1%;
		}
		
		
	#auth input[type=submit], input[type=submit], button {
		font-size: 300%;
		margin: 6% 35%;
		padding: 5% 9%;
		clear: both;
		}
		
	#city {
		width: 80%;
		font-size: 150%;
		}

}*/

@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#popup {
width:100%;
height:100%;
top:0;
left:0;
opacity: 0.97;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
z-index: 1000;
}
#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
#addEvent {
position:absolute;
left:70%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}

#addEventForm {
max-width:300px;
min-width:250px;
padding:10px 10px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff;
}

#addEventh2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -10px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -30px;
border:0;
border-top:1px solid #ccc
}

#addEventTitle, #addEventStart, #addEventEnd, #addEventColor, #addEventUrl {
width:90%;
padding:8px;
margin-top:10px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}/*
#addEventStart {
background-image:url(Icons/account.png);
background-repeat:no-repeat;
background-position:5px 7px
}
#addEventEnd {
background-image:url(Icons/user.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}*/

#external-events {
	position: fixed;
	width: 13%;
	height: 230px;
	padding: 0 30px 0 10px;
	border: 2px solid #ccc;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	background: #cbccd3;
	text-align: left;
	z-index: 10;
}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
#external-events .fc-event {
	margin: 10px 0;
	cursor: pointer;
}

#calendar {
	margin-bottom: 50px;
	margin-left: 100px;
	max-width: 90%;
}