<?php
/*************************************************************************************
Contains the contents (view) of page. siteHead and siteFooter have to be included everywhere.
*************************************************************************************/
require_once( "user.php" );

//Site's head element.
function displaySiteHead( $title ){
?>

	<!DOCTYPE html>
	<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<?php echo "<title> $title </title>";?>
		<meta charset="UTF-8"/>
		<meta name="description" content="FREDA provides intuitive time management services via easy-to-use calendar, that can be shared with anyone, anywhere">

		<!--Social media-->
		<?php echo "<meta proterty=\"og:title\" content=\"$title\">"?>
		<meta property="og:site_name" content="Freda">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="object">
		<meta propertu="og:description" content="FREDA provides intuitive time management services via easy-to-use calendar, that can be shared with anyone, anywhere">

		<!--Caching-->
		<meta http-equiv="cache-control" content="max-age=0"/>
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta http-equiv="expires" content="0"/>
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
		<meta http-equiv="pragma" content="no-cache"/>


		<!--CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link href="fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet"/>
		<link href="fullcalendar-3.9.0/fullcalendar.print.min.css" rel="stylesheet" media="print"/>
		<link type="text/css" rel="stylesheet" href="css/style.css"/>

		<!--JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src='fullcalendar-3.9.0/fullcalendar.js'></script>
		<script src="js/ajax.js"></script>
		<script src="js/calendar.js"></script>
	</head>

	<body>

<?php
}


//Navbar for guest.
function displaySiteNavigationGuest(){
?>

	<div id = "navbar">
		<ul>
			<li class="right" id="log"><a href="/?r=login">Log in</a></li>
			<li class="left"><a href="/">Home</a></li>
			<li class="left"><a href="/?r=weather">Weather</a></li>
			<li class="left"><a href="/?r=calendar">Calendar</a></li>
			<li class="left"><a href="/?r=image">Upload</a></li>
		</ul>
	</div>

<?php
}


//Navbar for logged user.
function displaySiteNavigationLogged(){
?>

	<div id="navbar">
		<ul>
			<li class="left"><a href="/">Home</a></li>
			<li class="left"><a href="/?r=weather">Weather</a></li>
			<li class="left"><a href="/?r=cities">Saved cities</a></li>
			<li class="right dropdownn" id="log">
				<a  class="dropbutton" id="account">Account</a>
				<div class="dropdown-content">
					<?php if( $_SESSION[ "user" ]->getAccessLevel() == User::USER_MODERATOR ){
						echo "<a href='/?r=moderator'>Moderator</a>";
					} else if ( $_SESSION[ "user" ]->getAccessLevel() == User::USER_ADMIN ){
						echo "<a href='/?r=admin'>Admin actions</a>";
					} ?>
					<a href="/?r=settings">Settings</a>
					<a href="/?r=logout">Log out</a>
				</div>
			</li>
		</ul>
	</div>

<?php
}



//Title
function displaySiteTitle(){
?>
	<h1 id="headerText">FREDA</h1>

<?php
}



//Sites introduction element.
function displaySiteHome(){
?>
	<div class="container">
		<p>Info about this site</p>
		<p>Important keywords everywhere</p>
		<p>Time management</p>
		<p>Availability calendar</p>
		<p>Social media pointing to this site...</p>
		<p>SEO</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore
		magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
		quis nostrud exerci tation ullamcorper suscipit lobortis nisl
		ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
		dolor in hendrerit in vulputate velit esse molestie consequat,
		vel illum dolore eu feugiat nulla facilisis at vero eros et
		accumsan et iusto odio dignissim qui blandit praesent luptatum
		zzril delenit augue duis dolore te feugait nulla facilisi.
		Nam liber tempor cum soluta nobis eleifend option congue
		nihil imperdiet doming id quod mazim placerat facer possim
		assum. Typi non habent claritatem insitam; est usus legentis
		in iis qui facit eorum claritatem. Investigationes
		demonstraverunt lectores legere me lius quod ii legunt saepius.
		Claritas est etiam processus dynamicus, qui sequitur mutationem
		consuetudium lectorum. Mirum est notare quam littera gothica,
		quam nunc putamus parum claram, anteposuerit litterarum formas
		humanitatis per seacula quarta decima et quinta decima. Eodem
		modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
		in futurum.</p>
		<div style="border: black solid 2px"><p>Images</p></div>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore
		magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
		quis nostrud exerci tation ullamcorper suscipit lobortis nisl
		ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
		dolor in hendrerit in vulputate velit esse molestie consequat,
		vel illum dolore eu feugiat nulla facilisis at vero eros et
		accumsan et iusto odio dignissim qui blandit praesent luptatum
		zzril delenit augue duis dolore te feugait nulla facilisi.
		Nam liber tempor cum soluta nobis eleifend option congue
		nihil imperdiet doming id quod mazim placerat facer possim
		assum. Typi non habent claritatem insitam; est usus legentis
		in iis qui facit eorum claritatem. Investigationes
		demonstraverunt lectores legere me lius quod ii legunt saepius.
		Claritas est etiam processus dynamicus, qui sequitur mutationem
		consuetudium lectorum. Mirum est notare quam littera gothica,
		quam nunc putamus parum claram, anteposuerit litterarum formas
		humanitatis per seacula quarta decima et quinta decima. Eodem
		modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
		in futurum.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore
		magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
		quis nostrud exerci tation ullamcorper suscipit lobortis nisl
		ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
		dolor in hendrerit in vulputate velit esse molestie consequat,
		vel illum dolore eu feugiat nulla facilisis at vero eros et
		accumsan et iusto odio dignissim qui blandit praesent luptatum
		zzril delenit augue duis dolore te feugait nulla facilisi.
		Nam liber tempor cum soluta nobis eleifend option congue
		nihil imperdiet doming id quod mazim placerat facer possim
		assum. Typi non habent claritatem insitam; est usus legentis
		in iis qui facit eorum claritatem. Investigationes
		demonstraverunt lectores legere me lius quod ii legunt saepius.
		Claritas est etiam processus dynamicus, qui sequitur mutationem
		consuetudium lectorum. Mirum est notare quam littera gothica,
		quam nunc putamus parum claram, anteposuerit litterarum formas
		humanitatis per seacula quarta decima et quinta decima. Eodem
		modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
		in futurum.</p>
	</div>


<?php
}


function displaySiteUpload(){
?>
	<h1>Image upload test</h1>
	<label for="image">Choose image</label>
	<input type="file" name="image" id="image" class="form-control col-4">
	<input type="button" name="submit" value="submit" class = "btn btn-lg btn-primary" onclick="uploadImage()">
	<ul id="images"></ul>

<?php
}

//Calendar
function displaySiteCalendar(){
?>
	<h2>Add event by dragging from palette or by clicking on appropriate space. Only events created with click will be saved to database. Dragging event's won't resave them.</h2>
	<div id="external-events">
		<h4>Event palette</h4>
		<div class="fc-event red">Busy</div>
		<div class="fc-event red">Meeting</div>
		<div class="fc-event orange">Work</div>
		<div class="fc-event blue">Lunch</div>
		<div class="fc-event green">Free time :  )</div>
	</div>
	<div class="container">
	<div id="calendar"></div>
	</div>
	<script>
		$( document ).ready( function(){
			$('#external-events .fc-event').each(function() {
				var color = null;
				if( $( this ).hasClass( "red" )){
					color = "red";
				} else if( $( this ).hasClass( "green" )){
					color = "green";
				} else if( $( this ).hasClass( "blue" )){
					color = "aqua";
				} else if( $( this ).hasClass( "orange" )){
					color = "orange";
				}
				$( this ).data( 'event', {
					title: $.trim($(this).text()),
					stick: true,
					color: color
				});

				// make the event draggable using jQuery UI
				$( this ).draggable({
					zIndex: 999,
					revert: true,      // will cause the event to go back to its
					revertDuration: 0  //  original position after the drag
				});

			});
			$( "#calendar" ).fullCalendar({
			    dayClick: function( date, jsEvent, view ){ onDayClick( this, date, jsEvent, view )},
				header: {
					left: "prev,next today",
					center: "title",
					right: "month,agendaWeek,listWeek"
				},
				firstDay: 1,
				weekNumbers: true,
				editable: true,
				droppable: true,
				weekNumbersWithinDays: true,
				fixedWeekCount: false,
				eventLimit: true
			})
		})
		getCalendarEvents();
	</script>

	<div id="popup">
		<div id="addEvent">
			<form action="#" id="addEventForm" method="post" name="form">
				<img id="close" src="Icons/close.png" onclick ="hideAddEvent()">
			<h2 id="addEventh2">Add event</h2>
			<hr>
			<input type="text" id="addEventTitle" name="title" placeholder="Title">
			<input type="text" id="addEventColor" name="color" placeholder="Color">
			<input type="text" id="addEventUrl" name="url" placeholder="Url">
			<a href="javascript:%20check_empty()" class="btn btn-success">Save</a>
			</form>
		</div>
	</div>
	<br/><br/>
<?php
}

//Log in component.
function displaySiteLogIn(){
	$error	= $_SESSION[ "error" ] ?? NULL;
	$status = $_SESSION[ "status" ] ?? NULL;
?>
	<div class="container">
		<form class="form-signin" action="/" method="post">
			<h2 class="text-center">Log in</h2>
			<p class="text-center">Login with Markku:1Qaz2wsx to use admin user (has additional option in navbar account dropdown)</p>

			<label class="sr-only" for="username">Username</label>
			<input class="form-control" type="text" name="username" placeholder="Username" maxlength="20" required autofocus>
			<br/>

			<label class="sr-only" for="password">Password</label>
			<input class="form-control" type="password" name="password" placeholder="Password" minlength="8" maxlength="256" required>
			<br/>

			<input type="submit" name="submit" value="login" class="btn btn-lg btn-block btn-primary">

		</form>

		<br/>
		<?php if( $error != null ){
			echo "<p class='error'>$error</p>";
			$_SESSION[ "error" ] = null;
		} else if( $status == true ){
			echo "<p class='success'>Register succesfull!</p>";
			$_SESSION[ "status" ] = null;
		}?>
		<a href="/?r=register">Not registered yet?</a>
	</div>


<?php
}


//Register component
function displaySiteRegister(){
	$error = $_SESSION[ "error" ] ?? NULL;
?>

	<div class="container">
		<form class="form-signin" action="/" method="post" autocomplete="off">
			<h2 class = "text-center">Register</h2>

			<label class="sr-only" for="username">Username</label>
			<input class="form-control" type="text" name="username" placeholder="Username"  maxlength="20">
			<br/>
			<label class="sr-only" for="password">Password</label>
			<input class="form-control" type="password" name="password" placeholder="Password" minlength="8" maxlength="256">
			<br/>
			<label class="sr-only" for="rePassword">Confirm password</label>
			<input class="form-control" type="password" name="rePassword" placeholder="Confirm password" minlength="8" maxlength="256">
			<br/>
			<input type="submit" name="submit" value="register" class="btn btn-lg btn-block btn-primary">

		</form>

		<?php if( $error != null ){
			echo "<p class='error'>$error</p>";
			$_SESSION[ "error" ] = null;
		} ?>
	</div>




<?php
}


//Form for user to add cities on list.
function displaySiteUserWeather(){
?>
	<div class="container">
		<h2 class="text-center">Enter name of city add it to list</h2>
		<form class="form-signin" action="/" method="get" >
			<input type="hidden" name="r" value="cities" />
			<input type="text" id="city" name="city" placeholder="Enter city"/>
			<input  class="btn btn-primary" type="submit"/>
		</form>
		<br/>
	</div>


<?php
}


//Form for guest to see weather of one location.
function displaySiteGuestWeather(){
?>
	<div class="container">
		<h2 class="text-center">Enter name of city to see weather</h2>
		<form class="form-signin" action="/" method="get">
			<input type="hidden" name="r" value="weather"/>
			<input type="text" id="city" name="city" placeholder="Enter city"/>
			<input class="btn btn-primary" type="submit"/>
		</form>
		<br/>
	</div>


<?php
}


//Bottom of page.
function displaySiteFooter(){
?>
	<!--
		<footer class="footer">
			<div class="container">
				<p class="text-muted"> Created by Roman Hyvönen</p>
			</div>
		</footer>
	-->
	</body>
	</html>
<?php
}
